.wrapper-select {
  position: relative;
  width: 350px;
  z-index: 100;
}

.custom-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  cursor: pointer;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 4px;
  background: white;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 8px;
}

.option {
  padding-bottom: 8px;
  cursor: pointer;
}

.option:last-child {
  padding-bottom: 0px;
  cursor: pointer;
}

.option-content {
  background: #f1f5f9;
  padding: 6px 12px;
  border-radius: 6px;
}

.option-content:hover {
  background: #e0f2fe;
}

.selected .option-content {
  background: #e0f2fe;
  color: #0369a1;
}

.icon {
  width: 20px;
  height: 20px;
}